@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
}

#root {
  height: 100%;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}